.cardContainer {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center;
    width: 80%; /* Adjust width as needed */
    margin: 0 auto; /* Center the container horizontally */
    padding: 40px;
    border-radius: 8px;
  }
  
  .leftCard {
    background-color: rgb(184, 184, 255);; /* Background color for left card */
    padding: 50px;
    border-radius: 8px;
    margin-right: 10px;
    width: 150px;
    font-size: 20px;

  }
  
  .rightCard {

    padding: 20px;
    border-radius: 8px;
    font-size: 20px;
    margin-right: 40px;
  }
  