body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.running {
  display: inline-block;
  width: 175px;
  height: 290px;
  /* background: black; */
  background-image: url('./images/running.png');
  background-size: cover; 
}

.reading {
  display: inline-block;
  width: 100px;
  height: 100px;
  /* background: black; */
  background-image: url('./images/adrianne.png');
  background-size: cover; 
}

.cooking {
  display: inline-block;
  width: 140px;
  height: 260px;
  /* background: black; */
  background-image: url('./images/cooking.png');
  background-size: cover; 
}

.yoga {
  display: inline-block;
  width: 100px;
  height: 100px;
  /* background: black; */
  background-image: url('./images/adrianne.png');
  background-size: cover; 
}

.hiking {
  display: inline-block;
  width: 140px;
  height: 300px;
  /* background: black; */
  background-image: url('./images/hiking.png');
  background-size: cover; 
}

.arts {
  display: inline-block;
  width: 100px;
  height: 100px;
  /* background: black; */
  background-image: url('./images/adrianne.png');
  background-size: cover; 
}

.portal {
  width: 350px;
  height: 350px;
  margin-left: 800px;
  border: 5px solid yellowgreen;
  margin-top: 0px;
  background-color: black;
  border-radius: 50%; /* Ensures the element is a circle */
}

.overlap {
  background-color: yellowgreen;
}

.feedback1 {
  position: fixed;
  bottom: 30px;
  right: 30px;
  text-align: center;
  padding: 10px 40px;
  border: none;
  border-radius: 7px;
  background-color: rgb(211, 234, 255);
  font-size: x-large;
  font-family: 'Thunder';
}

.feedback1:hover {
  position: fixed;
  bottom: 30px;
  right: 30px;
  text-align: center;
  padding: 10px 40px;
  border: none;
  border-radius: 7px;
  background-color: rgb(184, 184, 255);
  font-size: x-large;
  font-family: 'Thunder';
}

.feedbackForm {
  width: 100vw;
  height: 100%;
  gap: 20px;
  background-color: rgb(211, 234, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Thunder";
  font-size: 5rem;
  margin-bottom: 0px;
}

.input-1 {
  width: 600px;
  padding: 20px;
  padding-bottom: 100px;
  text-align: start;
  font-size: large;
  margin: 0px;
  border: 2px solid rgb(184, 184, 255);
  border-radius: 5px;
}

.input-category {
  padding-right: 20px;
  padding-left: 20px;
  width: 600px;
  text-align: start;
  font-size: large;
  margin: 0px;
  border: 2px solid rgb(184, 184, 255);
  border-radius: 5px;
}

.feedback2 {
  text-align: center;
  padding: 10px 40px;
  border: none;
  border-radius: 7px;
  background-color: rgb(184, 184, 255);
  font-size: x-large;
  font-family: 'Thunder';
  margin-bottom: 100px;
}

.feedback2:hover{
  cursor: pointer;
}

h2 {
  font-family: 'Thunder';
  margin: 0px;
}

.column {
  width: 43%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
